createdAt: "2019-06-08T14:57:19.028Z"
updatedAt: "2019-06-10T14:41:38.650Z"
type: "MARKDOWN_NOTE"
folder: "341e16d06eddf09dc632"
title: "markdown practice"
tags: []
content: '''
  # markdown practice
  ## list 
  - test
  - test
    - test
      - test
      - ok
  -記号の後、半角スペース
  1. test
  2. test
  
  - 数字の入れ子ができない？
  
  ## quote
  >time is money
  >> life is beautiful
  
  ## link
  [how to write by markdown](https://busy.org/@noteman/for-steemit-japanese-version)
  
  ## anchor
  [link in this page](##list)
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
